body {
    padding-top: 110px; /* 80px navbar height + 30px gap */
}
.navbar {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fcba06;
    color: #252523;

    .navbar-toggle {
        display: none;
    }
    .container{
        display: flex;
        justify-content: space-between;
        padding: 5px 20px;
        font: bold 16px/1.5 "Helvetica Neue",Helvetica,Arial,sans-serif;

        li{
            margin: 0 10px;
        }

        .right-side{
            display: flex;
            justify-content: flex-end;
            list-style: none;
            padding-inline-start: 0;
        }

        .left-side{
            padding-inline-start: 0;
            display: flex;
            justify-content:  flex-start;
            list-style: none;
        }
        .navbar-button{
            display: inline-block;
            color: #252523;
            font: inherit;
            font-weight: bold;
            text-decoration: none;
            padding: 5px 20px;
            background-color: #faa303;

            cursor: pointer;

            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            transition: background-color 0.15s ease, transform 0.1s ease, box-shadow 0.15s ease;
        }

        .logo {
            display: flex;
            align-items: center;
            gap: 10px;
            width: 40px;
            height: 40px;
            border-radius: 7px;
            justify-content: center;
        }

    }

    @media (max-width: 600px) {
        .navbar {
            flex-wrap: wrap;
            position: relative;

            .navbar-toggle{
                display: block;
                margin-left: auto;
            }

            .container{
                display: none;
                flex-direction: column;
                align-items: flex-start;
                width: 100%;
            }
            &.active .container{
                display: flex;
            }
        }
    }
}