<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Game Hive</title>
    <link rel="stylesheet" href="/homepage.css">

    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0">

</head>

<body>

<div>
    <h1>Game Hive</h1>
<!--    <h2 th:text="'Welcome ' + ${user.username}"></h2>-->
    <h2>Welcome, user!</h2>
    <a href="">Logout</a>
</div>

<nav>
    <a href="">Home</a>
    <a href="">Account</a>
    <a href="">Home</a>

</nav>

<!--Main Body-->


<div class="game_section">
    <div class="game_hexagon"></div>
    <div class="game_hexagon"></div>
    <div class="game_hexagon"></div>
</div>

</body>
</html>