<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Game Hive</title>
    <link rel="stylesheet" href="/homepage.css">
    <link rel="stylesheet" th:href="@{/navbar.css}">

    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0">

</head>

<body>

<!--<header>-->
<!--    <a href="">-->
<!--        <span class="logo"><img class="logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBIjgAA0GNHh_JvdefzBWpCGdzJq8Wd3bFHfd4pZc-GA&s=10" alt="GH"></span>-->
<!--        <span class="header_title">Game Hive</span>-->
<!--    </a>-->

<!--    <div class="site-header-user">-->
<!--        <span th:text="${username}">Username</span>-->
<!--        <button class="">-->
<!--            <img class="user_image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlbbdPqXU3wwsJQPwkgU42saoIIg22ct8rNcFV_RU6PA&s=10" alt="Icon"></button>-->
<!--    </div>-->

<!--</header>-->

<nav class="navbar">
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <form th:action="@{/logout}" method="post" class="logout-form">

        <input
                type="hidden"
                th:name="${_csrf.parameterName}"
                th:value="${_csrf.token}">

        <button type="submit" class="navbar-button">
            Logout
        </button>

    </form>

</nav>

<!--Main Body-->
<main>
<div class="game_wrapper">
<div class="game_section">
        <div class="game_hexagon"> <h3>Wordle</h3>
            <img src="https://thumb.wikimedia.org/wikipedia/commons/thumb/e/ec/Wordle_196_example.svg/960px-Wordle_196_example.svg.png?utm_source=en.wikipedia.org&utm_campaign=index&utm_content=thumbnail" alt="Wordle">
        </div>
        <div class="game_hexagon"> <a href="/game/wordle">Wordle</a>
            <img src="https://thumb.wikimedia.org/wikipedia/commons/thumb/e/ec/Wordle_196_example.svg/960px-Wordle_196_example.svg.png?utm_source=en.wikipedia.org&utm_campaign=index&utm_content=thumbnail" alt="Wordle">
        </div>
        <div class="game_hexagon"><a href="/game/tictactoe">Tic Tac Toe</a></div>
        <div class="game_hexagon">Hexagon</div>
        <div class="game_hexagon">Hexagon</div>
        <div class="game_hexagon">Hexagon</div>
        <div class="game_hexagon">Hexagon</div>
        <div class="game_hexagon">Hexagon</div>
        <div class="game_hexagon">Hexagon</div>
        <div class="game_hexagon">Hexagon</div>
        <div class="game_hexagon">Hexagon</div>
        <div class="game_hexagon">Hexagon</div>
        <div class="game_hexagon">Hexagon</div>
        <div class="game_hexagon">Hexagon</div>
        <div class="game_hexagon">Hexagon</div>
        <div class="game_hexagon">Hexagon</div>
        <div class="game_hexagon">Hexagon</div>
        <div class="game_hexagon">Hexagon</div>

    </div>
</div>

<br><br>
</main>
<!--footer-->


<footer>

    <div class="site-footer__column">
        <a href="#" class="site-footer__logo">Game Hive</a>

        <nav class="site-footer__links">
            <h3>Helpful Links</h3>
            <ul>
                <li><a href="/team">Meet the Team</a></li>
                <li><a href="/faq">FAQs</a></li>
                <li><a href="/contactus">Contact Us</a></li>
            </ul>
        </nav>
    </div>

</footer>

</body>
</html>